* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background: #333;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background: white;
  margin: 3px 0;
}

.hero {
  position: relative; /* Nécessaire pour le positionnement du pseudo-élément */
  background: url("./assets/images/soutenance01.jpg") no-repeat center center/cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero::before {
  content: ""; /* Nécessaire pour créer un pseudo-élément */
  position: absolute; /* Positionnement absolu par rapport à .hero */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de superposition avec opacité */
  z-index: 1; /* Assurez-vous que la superposition soit au-dessus de l'image */
}

.hero > * {
  position: relative; /* Positionnement relatif pour le contenu */
  z-index: 2; /* Assurez-vous que le contenu soit au-dessus de la superposition */
}
.hero h1{
  font-size: 3.5rem;
  font-weight: 900;
}
.hero p{
  margin-bottom: 20px;
  line-height: 1.5;
}

.btn {
  background: #ff4757;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background: #333;
  }

  .nav-links.active {
      display: flex;
  }

  .menu-toggle {
      display: flex;
  }
}
